@font-face {
    font-family: 'regular';
    src: url('SF-Pro-Rounded-Regular.woff2') format('woff2'),
}

@font-face {
    font-family: 'medium';
    src: url('SF-Pro-Rounded-Medium.woff2') format('woff2'),
}

@font-face {
    font-family: 'bold';
    src: url('SF-Pro-Rounded-Bold.woff2') format('woff2'),
}



body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;


}

.page {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: 10px;

}

.welcome-to {
    z-index: -99;
    font-family: 'medium';
    font-size: 36px;
}

.members {
    color: #1495F2;
    font-family: 'bold';
    font-size: 36px;
}

.beta-box {
    margin-top: 5px;
    border-radius: 17.5px;
    text-align: center;
    align-content: center;
    width: 68px;
    height: 35px;
    background-color: #e2e2e2;
    color: #858585;
    font-family: 'medium';
    font-size: 16px;
}

.go-beta {
    z-index: 999;
    margin-top: 369px;
    font-family: 'bold';
    font-size: 16px;
    color: #fff;
    background-color: #1495F2;
    width: 100%;
    height: 51px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#close-app {
    position: relative;
    margin-top: 5px;
    font-family: 'regular';
    font-size: 16px;
    color: hsla(0, 0%, 0%, 0.5);
    background-color: #fff;
    width: 100%;
    height: 51px;
    border: #e2e2e2 1px solid;
    border-radius: 15px;
    cursor: pointer;
}

#close-app:focus {
    color: #1495F2;
    border: #1495F2 1px solid;
}

#close-app:hover {
    opacity: 0.8;
}


.member {
    z-index: 0;
    left: 0px;
    bottom: 107px;
    position: absolute;
    justify-content: center;
    display: flex;
    margin-left: auto; 
    margin-right: auto; 
    width: 100%;
}


.mask {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 200ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loader {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: radial-gradient(farthest-side,#1495F2 95%,#0000) 50% 1.1px/13.4px 13.4px no-repeat,
         radial-gradient(farthest-side,#0000 calc(100% - 15.7px),rgba(71,75,255,0.1) 0);
    animation: spinner-aur408 1s infinite linear;
 }
 
 @keyframes spinner-aur408 {
    to {
       transform: rotate(1turn);
    }
 }

.hide {
    opacity: 0;
}


.form-page {
  width: 100%;
  height: 100%;
}

.form-text {
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.one-second {
  font-size: 20px;
  font-family: 'bold';
}

.form-desc {
  margin-top: 10px;
  font-size: 16px;
  font-family: 'medium';
  color: hsla(0, 0%, 0%, 0.5);
}

.nickname {
  padding-left: 20px;
  padding-top: auto;
  padding-bottom: auto;
  height: 51px;
  margin-left: 10px;
  width: calc(100% - 50px);
  margin-top: 20px;
  border: #1495F2 1px solid;
  border-radius: 15px;
  font-family: 'bold';
  font-size: 16px;
  color: #1495F2;

}

.nickname::placeholder {
  color: #1495F2;
}

.nickname:focus {
  outline: #1495F2 3px solid;
  outline-offset: -2px;
  color: #1495F2;
}

.form-member {
  bottom: 61px;
  position: absolute;
  justify-content: center;
  display: flex;
  margin-left: auto; 
  margin-right: auto; 
  width: 100%;
} 

.start {
  left: 0px;
  position: absolute;
  bottom: 10px;
  font-family: 'bold';
  font-size: 16px;
  color: #fff;
  background-color: #1495F2;
  width: calc(100% - 20px);
  margin-left: 10px;
  height: 51px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
