@font-face {
    font-family: 'regular';
    src: url('SF-Pro-Rounded-Regular.woff2') format('woff2'),
}

@font-face {
    font-family: 'medium';
    src: url('SF-Pro-Rounded-Medium.woff2') format('woff2'),
}

@font-face {
    font-family: 'bold';
    src: url('SF-Pro-Rounded-Bold.woff2') format('woff2'),
}



body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;


}

.page {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: 10px;

}

.welcome-to {
    z-index: -99;
    font-family: 'medium';
    font-size: 36px;
}

.members {
    color: #1495F2;
    font-family: 'bold';
    font-size: 36px;
}

.beta-box {
    margin-top: 5px;
    border-radius: 17.5px;
    text-align: center;
    align-content: center;
    width: 68px;
    height: 35px;
    background-color: #e2e2e2;
    color: #858585;
    font-family: 'medium';
    font-size: 16px;
}

.go-beta {
    z-index: 999;
    margin-top: 369px;
    font-family: 'bold';
    font-size: 16px;
    color: #fff;
    background-color: #1495F2;
    width: 100%;
    height: 51px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#close-app {
    position: relative;
    margin-top: 5px;
    font-family: 'regular';
    font-size: 16px;
    color: hsla(0, 0%, 0%, 0.5);
    background-color: #fff;
    width: 100%;
    height: 51px;
    border: #e2e2e2 1px solid;
    border-radius: 15px;
    cursor: pointer;
}

#close-app:focus {
    color: #1495F2;
    border: #1495F2 1px solid;
}

#close-app:hover {
    opacity: 0.8;
}


.member {
    z-index: 0;
    left: 0px;
    bottom: 107px;
    position: absolute;
    justify-content: center;
    display: flex;
    margin-left: auto; 
    margin-right: auto; 
    width: 100%;
}


.mask {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 200ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation: pulsOut 1.8s ease-in-out infinite;
    filter: drop-shadow(0 0 1rem rgba(117, 172, 255, 0.75));
  }
  .loader:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 1rem #1495F2;
    animation-name: pulsIn;
  }
  .loader:after {
    width: calc(100% - 2rem);
    padding-bottom: calc(100% - 2rem);
    box-shadow: 0 0 0 0 #1495F2;
  }

  @keyframes pulsIn {
    0% {
      box-shadow: inset 0 0 0 1rem #1495F2;
      opacity: 1;
    }
    50%, 100% {
      box-shadow: inset 0 0 0 0 #1495F2;
      opacity: 0;
    }
  }

  @keyframes pulsOut {
    0%, 50% {
      box-shadow: 0 0 0 0 #1495F2;
      opacity: 0;
    }
    100% {
      box-shadow: 0 0 0 1rem #1495F2;
      opacity: 1;
    }
  }

.hide {
    opacity: 0;
}


.form-page {
  width: 100%;
  height: 100%;
}

.form-text {
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.one-second {
  font-size: 20px;
  font-family: 'bold';
}

.form-desc {
  margin-top: 10px;
  font-size: 16px;
  font-family: 'medium';
  color: hsla(0, 0%, 0%, 0.5);
}

.nickname {
  padding-left: 20px;
  padding-top: auto;
  padding-bottom: auto;
  height: 51px;
  margin-left: 10px;
  width: calc(100% - 44px);
  margin-top: 20px;
  border: #1495F2 1px solid;
  border-radius: 15px;
  font-family: 'bold';
  font-size: 16px;
  color: #1495F2;

}

.nickname::placeholder {
  color: #1495F2;
}

.nickname:focus {
  outline: #1495F2 3px solid;
  outline-offset: -2px;
  color: #1495F2;
}

.form-member {
  bottom: 61px;
  position: absolute;
  justify-content: center;
  display: flex;
  margin-left: auto; 
  margin-right: auto; 
  width: 100%;
} 

.start {
  left: 0px;
  position: absolute;
  bottom: 10px;
  font-family: 'bold';
  font-size: 16px;
  color: #fff;
  background-color: #1495F2;
  width: calc(100% - 20px);
  margin-left: 10px;
  height: 51px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
